// Classified form styles
.classified-input-form {
    max-width: 800px;
    margin: 0;
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $background-color;

    .classified-form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="file"],
        textarea {
            width: 95%;
            padding: $input-padding;
            border: 1px solid $border-color;
            border-radius: $border-radius;
            margin-bottom: 10px;
            background: #fff;
        }

        textarea {
            min-height: 200px;
            background: #fff;
        }

        .whatsapp-field {
            font-size: 0.875em;
            color: #666;
            margin-top: -8px;
        }

        .checkbox-wrapper {
            display: flex;
            align-items: baseline;
            justify-content: flex-start;

            label {
                font-weight: 500;
            }
        }

        .info-text {
            font-size: 14px; 
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 8px;
    }

    input[type="submit"] {
        background-color: #4c9127;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        display: block;
        margin-top: 10px;
        transition: all ease-in-out 0.5s;

        &:hover {
            background-color: #98c01f;
        }
    }

    .classified-contact-info-group {
        padding: 10px 15px;
        border: 1px solid $border-color;
        border-radius: 5px;
        background-color: $background-color;
        margin: 15px 0;

        .form-group-title {
            font-weight: bold;
            font-size: 1.2rem;
            margin-top: 0;
        }

        .classified-form-group {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .consent-group {
        label {
            a {
                &.terms-conditions {
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }
    }
}

.loader {
    display: none;
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.response-message {
    display: none;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}