.classifieds-cta-container {

    &.listing-page {
        @media screen and (min-width: 644px) {
            float: right;
            margin-top: -68px;
        }

        .classifieds-cta {
            background-color: #4c9127;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: $border-radius;
            cursor: pointer;
            text-decoration: none;
            transition: all ease-in-out 0.5s;
            margin: 0;
            font-weight: 600;

            @media screen and (min-width: 644px) {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }

            &:hover {
                background-color: #98c01f;
                color: rgba(0, 0, 0, .75);
            }
        }
    }
}

.classified-list-wrapper {
    .container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;

        .classified-list {
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .classified {
                flex: 0 1 calc(33.333% - 25px);
                border-bottom: 1px solid lighten($border-color, 10%);
                padding: 10px 5px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                &.permalink {
                    text-decoration: none;
                }

                * {
                    margin: 0;
                }

                .featured-image-wrapper {
                    .featured-image {
                        border-radius: 5px;
                    }
                }

                .price {
                    font-size: 1em;
                    font-weight: 600;
                }

                .title {
                    font-size: 1.2em;
                    font-weight: 600;
                }

                .content {
                    font-size: 1em;
                }

                .categories {
                    font-size: 0.8em;
                }
            }

            @media (max-width: 992px) {
                .classified {
                    flex: 1 1 calc(50% - 20px);
                }
            }

            @media (max-width: 768px) {
                .classified {
                    flex: 1 1 calc(100% - 20px);
                }
            }
        }
    }
}