.single-classified-content {
    padding: 80px 0;

    .the-content {

        .classifieds-cta-container {
            margin-bottom: 30px;

            .classifieds-cta {
                background-color: #4c9127;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: $border-radius;
                cursor: pointer;
                text-decoration: none;
                transition: all ease-in-out 0.5s;
                font-weight: 600;

                &:hover {
                    background-color: #98c01f;
                    color: rgba(0, 0, 0, .75);
                }
            }
        }

        .carousel-col {

            #classifiedCarousel {
                position: relative;
                width: 100%;
                max-width: 900px;
                margin: auto;

                .carousel-inner {
                    height: 500px;
                    border-radius: 10px;


                    .carousel-item {
                        height: 100%;


                        .classified-carousel-img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }


                .carousel-control-prev,
                .carousel-control-next {
                    width: 10%;
                    opacity: .7;
                    cursor: pointer;
                    transition: .5s all ease-in-out;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .content-col {
            display: flex;
            gap: 20px;
            flex-direction: column;

            @media screen and (min-width: 992px) {
                padding-left: 50px;
            }

            * {
                margin: 0;
            }

            #inquiryAccordion {
                .accordion-item {
                    border: 1px solid #4c9127;
                    background-color: transparent;

                    .accordion-header {
                        padding-bottom: 0;

                        .accordion-button {
                            cursor: pointer;
                            background: transparent;
                            padding: 16px 20px;
                            text-transform: none;
                            color: #000;
                            font-weight: 400;

                            &:not(.collapsed) {
                                background-color: rgba(152, 192, 31, 0.5);
                                color: #000;

                            }

                            &:hover {
                                background-color: rgba(152, 192, 31, 0.5);
                            }

                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }

                    .form-title {
                        margin-bottom: 10px;
                    }

                    form {

                        input {
                            width: 100%;
                            margin-top: 5px;
                        }
                    }
                }
            }

            .btn-whatsapp {
                padding: 16px 20px;
                border: 1px solid #4c9127;
                border-radius: 5px;
                text-decoration: none;
                transition: .5s all ease-in-out;
                display: flex;
                align-items: center;
                gap: 15px;
                text-transform: none;
                color: #000;
                font-weight: 400;

                &:hover {
                    background-color: rgba(152, 192, 31, 0.5);
                }

                .whatsapp-icon {
                    max-width: 25px;
                }
            }
        }
    }
}